.button {
  color: $white;
  font-weight: $medium;
  text-transform: capitalize;

  background-color: $accent;

  padding: 1em;

  border: none;
  border-radius: 10px;

  font-family: $mainfont;
}

.button:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.right-button {
  margin-left: 1em;
}

.button-disabled {
  background-color: $secondary;
}

.button-disabled:hover {
  opacity: 1;
}

.get-chuckd {
  padding: 2em 5em;
}

.loading {
  opacity: 0.6;
}
