.joke-slider {
  padding: 2em;

  border: $secondary solid 1px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.joke-category {
  text-transform: uppercase;

  font-weight: $medium;
  font-family: $mainfont;

  margin-top: 0;
}

.joke-content {
  font-weight: $medium;
}

.slider-controls {
  text-align: end;
}

@media (min-width: 824px) {
  .joke-slider {
    height: 40%;
  }
}
