.menu {
  padding: 2em;
}

.menu-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.input {
  height: 2em;
  width: 60%;

  background-color: $secondary;
  border: $accent solid 1px;

  color: $white;

  border-radius: 10px;

  padding: 0.5em;
}

.input-select {
  width: 60%;
}

@media (min-width: 824px) {
  .menu-top {
    flex-direction: row;
    margin-bottom: 0;
  }

  .input {
    width: 20%;
  }

  .input-select {
    width: 20%;
  }
}

.logo {
  animation: logo-spin infinite 10s linear;
  height: 30vmin;
  pointer-events: none;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
