@import './config';

@import './App';
@import './Menu';
@import './Button';
@import './Content';

body {
  margin: 0;
  padding: 0;

  font-family: $jokefont;
  font-weight: $normal;
  font-size: $fsize;
}
